
@model Record;

@{
	ViewData["Title"] = "Register Page";

	@if (TempData["success"] != null)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["success"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
}
<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Getregisters">Getregister</a>
</li>

<div>
	<h1>Student Register</h1>
	<form asp-action="register" asp-controller="Home">
		<div>
			<label>Name</label>
			<input type="text" id="name" name="name" class="form-control mx-2 my-2" style="width: 350px;" placeholder="Name of student">
		</div>
		<div>
			<label>Maths</label>
			<input type="number" id="name" name="math" class="form-control mx-2 my-2" style="width: 350px;" placeholder="math score">
		</div>
		<div>
			<label>Physics</label>
			<input type="number" id="name" name="physics" class="form-control mx-2 my-2" style="width: 350px;" placeholder="physic score">
		</div>
		<div>
			<label>Chemistry</label>
			<input type="number" id="chemistry" class="form-control mx-2 my-2" style="width: 350px;" placeholder="chem score">
		</div>
		<div>
			<label>Biology</label>
			<input type="number" id="biology" name="biology" class="form-control mx-2 my-2" style="width: 350px;" placeholder="biology score">
		</div>
		<div>
			<label>English</label>
			<input type="number" id="english" name="english" class="form-control mx-2 my-2" style="width: 350px;" placeholder="english score">
		</div>
		<button class="btn btn-primary mx-2 my-2" align-items="center">
			Submit
		</button>


	</form>

</div>


 

